.container {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    max-width: 1050px;
}

.box {
    display: flex;
    flex:1;
    flex-flow: column;
    max-width: 240px;
    margin: 10px;
    padding: 20px;
    background-color: black;
}

/* .makeRed {
    background-color: red;
}

.makeBlue {
    background-color: blue;
} */

.box {
    display: flex;
    flex:1;
    flex-flow: column;
    max-width: 240px;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
}
